<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>MY shopping cart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    {% block body %}
    <h1>My shopping cart</h1>
    {{cart}}
    {% endblock %}
  </body>
</html>