{% extends "layout.njk" %}
{% block content %}
  {% include 'menu.njk' %}
  <h1>{{ title }}</h1>
  {% if locals.user %}
  <p>Welcome, {{ locals.user.name }}</p>
  {% else %}
  <p>Welcome to {{ title }}</p>
  {% endif %}
{% endblock %}