<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {# 测试使用app.locals整个生命周期的变量渲染 #}
    <h1>{{ settings.title }}</h1>
    <p>Welcome to {{ title }}</p>
  </body>
</html>
