{% extends "layout.njk" %}
{% block content %}

  {% include "menu.njk" %}
  <!-- 导航链接 -->
  <h1>{{ title }}</h1>
  <p>Fill in the form below to sign up!</p>

  {% include "message.njk" %}
  <!-- 显示稍后添加的消息 -->
  <form action="/register" method="post">
    <p>
      <input type="text" name="user[name]" placeholder="Username">
    </p>
    <p>
      <input type="password" name="user[pass]" placeholder="Password">
    </p>
    <p>
      <input type="submit" value="Sign Up">
    </p>
  </form>
{% endblock %}