{% extends 'base.njk' %}

{% block body %}
<h2>Projects</h2>
<div id="list">
  <ul id="projects-list">
    {% for project in projects %}
    <li>
      <a href="/project/{{project.id}}/items">{{project.title}}</a>
      <a href="/project/{{project.id}}" class="delete">x</a>
    </li>
    {% endfor %}
  </ul>
</div>
<form action="/projects" id="add" method="POST">
  <input type="text" name="title">
</form>
{% endblock %}